.analystClient-form-container {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
    justify-content: center;

}

.form {
    display: flex;
    flex-direction: column;
    align-items:left;
    width: 30%;
    height: 90%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.analystClient-input-field {
    width: 90%;
    height: 8px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.analystClient-label {
    margin-bottom: 5px;
    font-weight: bold;
}

.analystClient-button {
    height: 40px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.analystClient-select-field {
    width: 90%;
    height: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.analystClient-info {
    display: flex;
    flex-direction: column;
}

.textarea {
    width: 90%;
    height: 70px;
}

.showReq{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;

}